<%- include('header') -%>
<%- include('menu') -%>
    <div class="Fluid jumbotron">
        <h1>Feedback Page</h1>
        <p>Please add all kinds of advice for the game!</p>
    </div>
    <hr>
    <div class="Fluid jumbotron">
      <form method="post" action="/dataprocess">
        Username: <input type="text" name="name"> <br>
        Feedback: <textarea name="ideas"></textarea>
        <input type="submit">
      </form>
    </div>
<%- include('footer') -%>
