<%- include('header') -%>
<%- include('menu') -%>
<div class="jumbotron jumbotron-fluid" style="background-color:#fafe0f">
  <div class="container">
    <h1>Tank World OL</h1>
    <hr>
    <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    <hr>
    <p>A mini game web</p>
    </div>
</div>
<div class="row">
        <div class="col-md col">
          <hr>
          The detailed models that are presented
          in the in-game experience
          <hr>
          <img src="images/model.png" width="100%">
        </div>
        <div class="col-md col">
          <hr>
          <img src="images/scene.png" width="100%">
        </div>
      </div>


<%- include('footer') -%>
